body {
    background-color: #010409;
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }
  
  body > * {
    width: 100%;
    overflow: hidden;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans Caption', sans-serif;
  }

/*Navbar*/
.navbar {
    padding: 1em;
    background-color: #010409;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-brand {
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
    text-transform: uppercase;
    color: #8A2BE2;
    font-size: 2em;
  }
  
  .navbar-options {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
  }
  
  .navbar-options-item{
    padding: 0.5em;
  }
  .selected{
    color: #8A2BE2;
  }
  
  .navbar-options-item a, .navbar-options-item a:visited {
    color: #8A2BE2;
  }
  
  .navbar-options-item a:hover, .navbar-options-item a:visited:hover {
    color: #c3c3c3;
  }

  a, a:visited {
    text-decoration: none;
  }

  li[disabled] > a {
    color: #5b1d95;
    pointer-events: none;
  }
  
  /*Footer*/
  footer {
    padding: 2em 10vw;
    background-color: #010409;
    color: #d15508;
  }
  
  @media screen and (max-width: 480px) {
    .navbar {
      flex-direction: column;
    }
  }

  @media screen and (max-width: 340px) {
    li[disabled] {
      display: none; 
    } 
    .navbar-options {
      width: 100%;
      justify-content: space-evenly;
    }
  }
